@keyframes rotateObj {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  12% {
    transform: scale(1.05);
  }

  24% {
    transform: scale(1);
  }

  36% {
    transform: scale(1.05);
  }    

  100% {
    transform: scale(1.0);
  }  
}

@keyframes flicker {
  0% {
    filter: saturate(0.5) brightness(0.5);
  }

  5% {
    filter: initial;
  }

  10% {
    filter: saturate(0.5) brightness(0.5);
  }

  15% {
    filter: initial;
  } 

  20% {
    filter: saturate(0.5) brightness(0.5);
  } 

  20% {
    filter: initial;
  }   

  100% {
    filter: initial;
  }  
}

@keyframes shake {
  0% { transform:translate(0,0) }
  2.5% { transform:translate(7px,0) }
  5% { transform:translate(0,0) }
  7.50% { transform:translate(7px,0) }
  10% { transform:translate(0,0) }
  12.5% { transform:translate(7px,0) }
  15% { transform:translate(0,0) }
  17.5% { transform:translate(7px,0) }
  20% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

@keyframes shadowJackpotMove {
  0% {
    text-shadow: -2px 2px 5px #975b1e;
  }

  50% {
    text-shadow: -2px 2px 15px #b37434;
  }

  100% {
    text-shadow: -2px 2px 5px #975b1e;
  }
}

@keyframes shadowBlackMove {
  0% {
    text-shadow: -1px 6px 7px #000;
  }

  50% {
    text-shadow: -1px 6px 0 #000;
  }

  100% {
    text-shadow: -1px 6px 7px #000;
  }
}

@keyframes shadowBarMove {
  0% {
    box-shadow: 0 0px 3px 7px #ffa500;
  }

  50% {
    box-shadow: 0 0px 3px 7px #d67e54; 
  }

  100% {
    box-shadow: 0 0px 3px 7px #ffa500;
  }
}

body {
  font-family: "PFDINDisplayPro-Medium";
}

/* - Canvas Styling - */
.community-jackpot-canvas {
  background-image: url('../images/starburst-bg.jpg');
  /*height: 100vh;*/
  background-size: cover;
}

.company-logo {
  /*position: absolute;*/
}

.company-logo img {
  width: 140px;
  margin-top: 30px;
}

.jackpot-main {
  display: flex;
  align-items: center;
  height: 100%;
}

.games-wrapper {
  width: 100%;
  margin: 0 auto;
}

.jackpot-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: rgba(38, 17, 74, 0.75);
  padding: 11px;
  box-shadow: 0 0 20px 30px rgba(56, 30, 105, 0.80);
  border-radius: 15px;  
}

/* - Jackpot Logo Section - */
.jackpot-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;  
}

.jackpot-logo .j-logo {
  color: #fff;
  width: 250px;
  height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.jackpot-logo .j-logo img {
  animation: flicker 3s infinite linear;
}

/* - Rapid Values Section - */
.jackpot-section .rapid-main {
  display: flex;
  position: relative;
  width: 100%;
  margin-right: 25px;  
}

.jackpot-section .rapid-main .j-tokens{
  width: 190px;
  height: 190px;
  background-image: url(/assets/images/07_symbol-wild_star_starburst.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAD528;
  text-shadow: 3px 4px 4px #333;
  font-weight: 900;
  font-size: 60px;
  position: absolute;
  left: -150px;
  top: -10px;
}

.jackpot-section .rapid-main .rapid-box{
  width: 100%;
  height: 185px;
  font-size: 30px;
  background: #240030;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 15px 11px inset #48236b;
}

.jackpot-section .rapid-main .rapid-box img {
  position: relative;
  top: -18px;
  width: 190px;  
}

.jackpot-main .rapid-bg-1 {
  background-image: url('../images/met_fr_PAPID.png');
  width: 80%;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto 0;
  border-radius: 50px;
  /*box-shadow: 0px 0px 10px 3px #ff6217;*/
}

.jackpot-main .rapid-bg-2 {
  background-image: url(../images/met_bg_PAPID.png);
  width: 90%;
  height: 25px;
  position: relative;
  top: 3px;
  left: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  animation: shadowBarMove 1.5s infinite linear;
}

.jackpot-main .rapid-bg-3 {
  background-image: url('../images/met_fill_PAPID.png');
  width: 55%;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  transition: 0.7s ease all;
  position: relative;
}

.jackpot-main .rapid-bg-4 {
  background-image: url(../images/glass_RAPID.png);
  transform: scaleY(1.3);
  width: 217px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: absolute;
  bottom: -30px;
  left: -5px;
  border-radius: 10px;
}

.jackpot-section .rapid-main .rapid-values .r-value {
  background: radial-gradient(circle, rgba(132,2,152,1) 0%, rgba(77,2,82,1) 100%);
  color: white;
  margin-bottom: 11px;
  width: 206px;
  height: 54px;
  border: 2px solid #e6c044;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.jackpot-section .major-main {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.jackpot-section .major-main .major-box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #551e67;
  box-shadow: 0px 0px 15px 11px inset #260942;
}

.jackpot-section .major-main .major-box img {
  width: 190px;
}

.jackpot-section .major-main .major-values {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.jackpot-section .major-main .major-values .j-value {
  font-size: 35pt;
  color: #fff25f;
  font-weight: 900;
  animation: shadowJackpotMove 1.5s infinite linear;
}

/* - Game Family Section - */
.game-family{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-family .game-icon {
  width: 12vw;
  height: 12vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #bdbbbb;
  font-weight: 900;
  animation: pulsate 1.5s infinite linear;
  transition: 0.3s ease all;  
}

.game-family .game-icon img {
  width: 10vw;
  filter: drop-shadow(1px 1px 5px #ececec);
}

.game-family .game-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.super-button {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(132,2,152,1) 0%, rgba(77,2,82,1) 100%);
  border-radius: 50px;
  margin: 75px auto 0;
  border: 2px solid white;
  box-shadow: 0 0 10px 12px #472f75;
  margin-bottom: 50px;
}

footer {
  position: absolute;
  width: 100%;
}

footer svg {
  width: 100px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media only screen and (max-width: 1366px) {
  .community-jackpot-canvas {
    height: 100vh;
  }

  .company-logo {
    position: absolute;
  }  
}

/* - Mobile Styles - */
@media only screen and (max-width: 768px) {
  .community-jackpot-canvas {
    height: auto;
    padding: 10px 0 60px;
  }

  .company-logo,
  .jackpot-section{
    position: static;
    margin: 0 auto 60px;
    text-align: center;    
  }

  .jackpot-logo .j-logo {
    height: auto;
  }

  .jackpot-section .rapid-main .j-tokens {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
  }

  .jackpot-section {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .jackpot-section .rapid-main {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .game-family {
    column-count: 2;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .game-family .game-icon {
    width: 30vw;
    height: 30vw;
    margin: 0px auto;
    margin-bottom: 30px;
  }

  footer {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  footer svg {
    position: static;
  }
}

/* - Tablet Styles - */
@media only screen and (min-width: 1024px) {
  .games-wrapper {
    width: 80%;
  }
}