@keyframes rotateObj {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform:translate(0,0) }
  2.5% { transform:translate(7px,0) }
  5% { transform:translate(0,0) }
  7.50% { transform:translate(7px,0) }
  10% { transform:translate(0,0) }
  12.5% { transform:translate(7px,0) }
  15% { transform:translate(0,0) }
  17.5% { transform:translate(7px,0) }
  20% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

@keyframes shadowJackpotMove {
  0% {
    text-shadow: -2px 2px 5px #975b1e;
  }

  50% {
    text-shadow: -2px 2px 15px #b37434;
  }

  100% {
    text-shadow: -2px 2px 5px #975b1e;
  }
}

@keyframes shadowBlackMove {
  0% {
    text-shadow: -1px 6px 7px #000;
  }

  50% {
    text-shadow: -1px 6px 0 #000;
  }

  100% {
    text-shadow: -1px 6px 7px #000;
  }
}

@keyframes shadowBarMove {
  0% {
    box-shadow: 0 0px 3px 7px #ffa500;
  }

  50% {
    box-shadow: 0 0px 3px 7px #d67e54; 
  }

  100% {
    box-shadow: 0 0px 3px 7px #ffa500;
  }
}

body {
  font-family: "PFDINDisplayPro-Medium";
}

/* - Canvas Styling - */
.community-jackpot-canvas {
  background-image: url('../images/mobile-background.png');
  background-size: contain;
  width: 414px;
  background-repeat: no-repeat;
}

.jackpot-main {
  display: flex;
  height: 100%;
  text-align: center;
  padding-top: 240px;
  color: white;
  position: relative;
}

.jackpot-main .starshine.top {
  top: 138px;
  right: 70px;
  left: auto;
}

.jackpot-main .major_jackpot img {
  width: 60%;
  position: relative;
  left: 5px;
}

.jackpot-main .major_jackpot .MAJOR_text {
  font-size: 45pt;
  color: #fff25f;
  font-weight: 900;
  animation: shadowJackpotMove 1.5s infinite linear;
}

.jackpot-main .rapid_jackpot {
  padding-top: 40px;
  position: relative;
}

.jackpot-main .rapid_jackpot .multiplier{
  position: absolute;
  width: 60px;
  right: 20px;
  top: 45px;
  animation: shake 5s ease infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.jackpot-main .rapid_jackpot img {
  width: 60%;
}

.jackpot-main .rapid-bg-1 {
  background-image: url('../images/met_fr_PAPID.png');
  width: 80%;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px auto 0;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 3px #ff6217;
}

.jackpot-main .rapid-bg-2 {
  background-image: url('../images/met_bg_PAPID.png');
  width: 96%;
  height: 30px;
  position: relative;
  top: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px auto;
  border-radius: 30px;
  animation: shadowBarMove 1.5s infinite linear;
}

.jackpot-main .rapid-bg-3 {
  background-image: url('../images/met_fill_PAPID.png');
  width: 55%;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  transition: 0.7s ease all;
}

.jackpot-main .rapid-bg-4 {
  background-image: url('../images/glass_RAPID.png');
  width: 305px;
  height: 97px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: absolute;
  bottom: -4px;
  left: -5px;
}

.jackpot-main .starshine {
  background-image: url('../images/shine.png');
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: -20px;
  left: -13px;
  animation: rotateObj 2s infinite linear;
}

.jackpot-main .rapid_jackpot_values {
  margin: 53px 0;
}

.jackpot-main .rapid_jackpot_values .value {
  font-size: 29pt;
  font-weight: 900;
  margin: 38px 0;
  animation: shadowBlackMove 1.5s infinite linear;
}

.jackpot-main .token-wrapper {
  font-size: 29pt;
  color: #fff25f;
  font-weight: 900;
  animation: shadowBlackMove 1.5s infinite linear;
}

.jackpot-main .token-wrapper .text_ticket {
  position: relative;
  top: -10px;
}

.jackpot-main .token-wrapper img {
  width: 50px;
  vertical-align: bottom;
  margin: 0 5px;
}

.jackpot-main .token-bar-1 {
  background-image: url('../images/token_met_fr.png');
  width: 90%;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 36px;
}

.jackpot-main .token-bar-2 {
  background-image: url('../images/token_met_bg.png');
  width: 87%;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 60px;
  border-radius: 40px;
  position: relative;
  top: 3px;
  animation: shadowBarMove 1.5s infinite linear;
  transition: 0.7s ease all;
}

.jackpot-main .token-bar-3 {
  background-image: url('../images/token_met_fill.png');
  width: 50%;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  position: relative;
}

.jackpot-main .token-bar-3 img {
  position: absolute;
  right: -35px;
  top: -25px;
  width: 80px;
}

.jackpot-main .token-scores {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  font-size: 21pt;
}

.jackpot-main .token-scores .container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.jackpot-main .token-score.side {
  color: #8e14aa;
}

.jackpot-main .token-score.text_token {
  color: #b256c7;
}